<app-toolbar></app-toolbar>

<div class="main-section">  
    <section class="background">
      <div class="background-container">
        <div class="background-{{randomImage}}"></div>
        <img src="assets/logo.png" />
        <p>טבלאות שכר</p>
      </div>
    </section>

    <section class="salary-survey" [@fadeInOnEnter]>

        <table>
            <tbody>
                <tr>
                    <td><h3>פיננסים וכספים</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>כלכלנ/ית</td>
                    <td>7000-11000</td>
                    <td>12000-15000</td>
                    <td>14,000-23,000</td>
                </tr>
                <tr>
                    <td>אנליסט/ית</td>
                    <td>7000-11000</td>
                    <td>11000-14000</td>
                    <td>14,000-20000</td>
                </tr>
                <tr>
                    <td>כלכלנ/ית שכר והטבות</td>
                    <td>10,000-12,000</td>
                    <td>12,000-14,000</td>
                    <td>14,000-16,000</td>
                </tr>
                <tr>
                    <td>מנהל/ת מחלקה כלכלית</td>
                    <td>16,000-18,000</td>
                    <td>18,000-24,000</td>
                    <td>24,000-30,000</td>
                </tr>
                <tr>
                    <td>עוזר/ת חשב</td>
                    <td>13,000-16,000</td>
                    <td>16,000-20,000</td>
                    <td>20,000-25,000</td>
                </tr>
                <tr>
                    <td>חשב/ת (רו"ח)</td>
                    <td>16,000-20,000</td>
                    <td>20,000-25,000</td>
                    <td>25,000-30,000</td>
                </tr>
                <tr>
                    <td>מנהל/ת כספים</td>
                    <td>25,000-30,000</td>
                    <td>30,000-32,000</td>
                    <td>32,000-40,000</td>
                </tr>
                <tr>
                    <td>סמנכל/ית כספים</td>
                    <td>32,000-35,000</td>
                    <td>35,000-45,000</td>
                    <td>40,000-60,000</td>
                </tr>
                <tr>
                    <td>מנהל/ת חשבונות בצוות</td>
                    <td>7,500-9,500</td>
                    <td>10,000-13,000</td>
                    <td>12,000-15,000</td>
                </tr>
                <tr>
                    <td>מנהל/ת חשבונות ראשית</td>
                    <td>12,000-15,000</td>
                    <td>15,000-17,000</td>
                    <td>17,000-23,000</td>
                </tr>
                <tr>
                    <td>מנהח"ש משולב חשב/ת שכר</td>
                    <td>9,000-11,000</td>
                    <td>10,000-13,000</td>
                    <td>13,000-15,000</td>
                </tr>
                <tr>
                    <td>חשב/ת שכר</td>
                    <td>8,000-9,500</td>
                    <td>10,000-14,000</td>
                    <td>12,000-15,000</td>
                </tr>
                <tr>
                    <td>מנהל/ת מדור שכר</td>
                    <td>12,000-15,000</td>
                    <td>15,000-18,000</td>
                    <td>16,000-25,000</td>
                </tr>
                <tr>
                    <td>גבייה</td>
                    <td>7,000-9,000</td>
                    <td>9,000-11,000</td>
                    <td>11,000-13,000</td>
                </tr>
                <tr>
                    <td>מנהל/ת צוות גבייה</td>
                    <td>10,000-12,000</td>
                    <td>12,000-14,000</td>
                    <td>13,000-17,000</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>בריאות ורפואה</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>אח/ות מוסמכ/ת</td>
                    <td>7,000</td>
                    <td>8,000-10,000</td>
                    <td>10,000-14,000</td>
                </tr>
                <tr>
                    <td>אח/ות מוסמכ/ת עם תואר ראשון</td>
                    <td>8,000-10,000</td>
                    <td>10,000-13,000</td>
                    <td>13,000-15,000</td>
                </tr>
                <tr>
                    <td>אח/ות אחראי/ת</td>
                    <td>12,000-13,000</td>
                    <td>14,000-13,000</td>
                    <td>15,000-16,000</td>
                </tr>
                <tr>
                    <td>אח/ות ראשי/ת</td>
                    <td>15,000</td>
                    <td>16,000-18,000</td>
                    <td>10,000-14,003</td>
                </tr>
                <tr>
                    <td>רופא/ה כללי/ת</td>
                    <td>15,000-17,000</td>
                    <td>16,000- 18,000</td>
                    <td>18,000-20,000</td>
                </tr>
                <tr>
                    <td>רופא/ה מומחה/ית</td>
                    <td>30,000</td>
                    <td>25,000- 37,000</td>
                    <td>37,000-60,000</td>
                </tr>
                <tr>
                    <td>רוקח/ת</td>
                    <td>11,000-12,000</td>
                    <td>13,000</td>
                    <td>14,000</td>
                </tr>
                <tr>
                    <td>רוקח/ת אחראי/ת</td>
                    <td>12,500</td>
                    <td>15,000-17,000</td>
                    <td>15,000-17,000</td>
                </tr>
                <tr>
                    <td>סייע/ת שיניים</td>
                    <td>5,500</td>
                    <td>5,000-6,500</td>
                    <td>6,500-8,000</td>
                </tr>
                <tr>
                    <td>פיזיוטראפיסט</td>
                    <td>6,500-7,500</td>
                    <td>9,000-11,000</td>
                    <td>11,000-13,000</td>
                </tr>
                <tr>
                    <td>עובד/ת סוציאלי/ת</td>
                    <td>8,000-9,000</td>
                    <td>8,500-10,500</td>
                    <td>10,500-12,000</td>
                </tr>
                
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>תעשייה</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים </td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>מפעיל מכונה</td>
                    <td>6,000</td>
                    <td>7,000-8,000</td>
                    <td>7,000-9,000</td>
                </tr>
                <tr>
                    <td>טכנאי אנרגיה</td>
                    <td>9,000-10,000</td>
                    <td>9,000-10,000</td>
                    <td>9,000-11,000</td>
                </tr>
                <tr>
                    <td>טכנאי מכשור ובקרה</td>
                    <td>6,000-7,000</td>
                    <td>7,000-8,000</td>
                    <td>8,000-9,000</td>
                </tr>
                <tr>
                    <td>מסגר</td>
                    <td>8,000-10,000</td>
                    <td>10,000-11,000</td>
                    <td>11,000-12,000</td>
                </tr>
                <tr>
                    <td>רכש</td>
                    <td>9,000-10,000</td>
                    <td>11,000-12,000</td>
                    <td>11,000-14,000</td>
                </tr>
                <tr>
                    <td>מכירות שטח</td>
                    <td>7,000-8,000</td>
                    <td>8,000-10,000</td>
                    <td>8,000-12,000</td>
                </tr>
                <tr>
                    <td>נציגי מכירות</td>
                    <td>6,000-8,000</td>
                    <td>6,000-8,000</td>
                    <td>6,000-12,000</td>
                </tr>
                <tr>
                    <td>עובדי אחזקה כלליים</td>
                    <td>6,000-6,500</td>
                    <td>6,000-6,500</td>
                    <td>6,000-6,500</td>
                </tr>
                <tr>
                    <td>מנהל צוות מחסן</td>
                    <td>11,000-12,500</td>
                    <td>11,000-12,500</td>
                    <td>11,000-12,500</td>
                </tr>
                <tr>
                    <td>רכז איכות</td>
                    <td>7,500-8,000</td>
                    <td>8,000-8,500</td>
                    <td>8,000-9,500</td>
                </tr>
                <tr>
                    <td>מבקר איכות</td>
                    <td>7,000-7,500</td>
                    <td>7,000-7,500</td>
                    <td>7,500-8,500</td>
                </tr>
                <tr>
                    <td>מכשירן</td>
                    <td>13,000-14,000</td>
                    <td>13,000-14,000</td>
                    <td>13,000-14,000</td>
                </tr>
                <tr>
                    <td>מנהל אחזקה</td>
                    <td>11,000-12,000</td>
                    <td>13,000-15,000</td>
                    <td>13,000-15,000</td>
                </tr>
                <tr>
                    <td>אדמיניסטרציה זוטרה</td>
                    <td>6,000-7,000</td>
                    <td>7,000-9,000</td>
                    <td>7,000-9,000</td>
                </tr>
                <tr>
                    <td>אדמיניסטרציה בכירה</td>
                    <td>9,000-11,000</td>
                    <td>11,000-13,000</td>
                    <td>11,000-13,000</td>
                </tr>
                <tr>
                    <td>מנהל/ת מוקד</td>
                    <td>10,000-11,000</td>
                    <td>12,000-13,000</td>
                    <td>12,000-14,000</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>שילוח ובלדרות</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>מתפעלים/ות בוקר</td>
                    <td>6000-6500</td>
                    <td>65000-7000</td>
                    <td>7000-7500</td>
                </tr>
                <tr>
                    <td>מתפעלים/ות לילה</td>
                    <td>6000-7000</td>
                    <td>7000-8000</td>
                    <td>7000-8000</td>
                </tr>
                <tr>
                    <td>בקרים/ות</td>
                    <td>6,000-7,000</td>
                    <td>6,000-7,000</td>
                    <td>6,000-8,000</td>
                </tr>
                <tr>
                    <td>בלדרים/ות רישיון ב' (שכר בסיס בלבד לא כולל שעות נוספות)</td>
                    <td>6,500-7,000</td>
                    <td>6,500-7,000</td>
                    <td>6,500-7,000</td>
                </tr>
                <tr>
                    <td>בלדרים/ות רישיון ג'</td>
                    <td>7,000-7,500</td>
                    <td>7,000-7,500</td>
                    <td>7,000-8,500</td>
                </tr>
                <tr>
                    <td>נהגי/ות משאית רישיון ג'</td>
                    <td>8,000-8,500</td>
                    <td>8,500-10,000</td>
                    <td>8,500-12,000</td>
                </tr>
                <tr>
                    <td>נציגי/ות שירות לקוחות</td>
                    <td>6,000-6,500</td>
                    <td>7,000-8,000</td>
                    <td>7,000-8,000</td>
                </tr>
                <tr>
                    <td>נציגי/ות טלסייל</td>
                    <td>6,000-6,500</td>
                    <td>7000-7500</td>
                    <td>7,000-8,500</td>
                </tr>
                <tr>
                    <td>נציג/ות יבוא</td>
                    <td>7000-8000</td>
                    <td>8,000-9,000</td>
                    <td>8500-9000</td>
                </tr>
                <tr>
                    <td>עמילי/ות מכס</td>
                    <td>7000-7500</td>
                    <td>8000-95000</td>
                    <td>10,000-12,000</td>
                </tr>
                <tr>
                    <td>מסווגי/ות מסמכים</td>
                    <td>8,000-8,500</td>
                    <td>9,000-10,000</td>
                    <td>10,000-12,000</td>
                </tr>
                <tr>
                    <td>אנשי/נשות מכירות שטח</td>
                    <td>7,000-8,000</td>
                    <td>8,000-10,000</td>
                    <td>10,000-14,000</td>
                </tr>
                <tr>
                    <td>סדרן/ית נהגים</td>
                    <td>6,500-7,000</td>
                    <td>7,000-8,000</td>
                    <td>10,000-12,000</td>
                </tr>
                <tr>
                    <td>נציג/ת בילינג</td>
                    <td>6,500-7,000</td>
                    <td>8,000-9,000</td>
                    <td>8,000-9,000</td>
                </tr>
                <tr>
                    <td>פקידת יבוא/יצוא-שילוח</td>
                    <td>6000-6500</td>
                    <td>6500-7500</td>
                    <td>7500-8000</td>
                </tr>
                <tr>
                    <td>פקיד יבוא/יצוא -ספנות</td>
                    <td>7,000-8,500</td>
                    <td>8,000-8,500</td>
                    <td>8,000-8,500</td>
                </tr>
                <tr>
                    <td>איש מכירות</td>
                    <td>8,000-10,000</td>
                    <td>10,000-15,000</td>
                    <td>10,000-15,000</td>
                </tr>
                <tr>
                    <td>נציג שירות לקוחות</td>
                    <td>6000-7000</td>
                    <td>6500-7500</td>
                    <td>7000-7500</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>שיווק בדיגיטל ועיצוב</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>PPC</td>
                    <td>8,000-13,000</td>
                    <td>12,000-17,000</td>
                    <td>15,000-35,000</td>
                </tr>
                <tr>
                    <td>SEO</td>
                    <td>10,000-13,000</td>
                    <td>13,000-16,000</td>
                    <td>15,000-18,000</td>
                </tr>
                <tr>
                    <td>Affiliate manager</td>
                    <td>9,000-12,000</td>
                    <td>12,000-16,000</td>
                    <td>15,000-18,000</td>
                </tr>
                <tr>
                    <td>Account manager</td>
                    <td>9,000-12,000</td>
                    <td>12,000-16,000</td>
                    <td>16,000-22,000</td>
                </tr>
                <tr>
                    <td>Media buyer/Programmatic</td>
                    <td>10,000-13,000</td>
                    <td>12,000-16,000</td>
                    <td>15,000-18,000</td>
                </tr>
                <tr>
                    <td>Email marketing</td>
                    <td>9,000-12,000</td>
                    <td>12,000-16,000</td>
                    <td>15,000-18,000</td>
                </tr>
                <tr>
                    <td>customer success manager</td>
                    <td>9,000-12,000</td>
                    <td>10,000-14,000</td>
                    <td>14,000-20,000</td>
                </tr>
                <tr>
                    <td>UI/UX</td>
                    <td>8,000-12,000</td>
                    <td>10,000-15,000</td>
                    <td>14,000-20,000</td>
                </tr>
                <tr>
                    <td>מנהל תוכן</td>
                    <td>8,000-12,000</td>
                    <td>10,000-15,000</td>
                    <td>14,000-20,000</td>
                </tr>
                <tr>
                    <td>graphic designer</td>
                    <td>8,000-12,000</td>
                    <td>10,000-15,000</td>
                    <td>14,000-20,000</td>
                </tr>
                <tr>
                    <td>Digital marketing</td>
                    <td>8,000-10,000</td>
                    <td>10,000-14,000</td>
                    <td>14,000-25,000</td>
                </tr>
                <tr>
                    <td>Head of digital</td>
                    <td>20000-25000</td>
                    <td>25000-35000</td>
                    <td>35000+</td>
                </tr>
                <tr>
                    <td>Business development</td>
                    <td>8,000-10,000</td>
                    <td>10,000-12,000</td>
                    <td>15,000-30,000</td>
                </tr>
                <tr>
                    <td>e-com manager</td>
                    <td>12000-15000</td>
                    <td>15000-18000</td>
                    <td>18000-25000</td>
                </tr>
                <tr>
                    <td>digital analyst</td>
                    <td>12000-14000</td>
                    <td>14000-16000</td>
                    <td>16000-18000</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>שיווק ומכירות</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>עוזר/ת שיווק</td>
                    <td>9000-11000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>מנהל/ת מותג</td>
                    <td>11,000-14,000</td>
                    <td>14,000-17,000</td>
                    <td>17,000-19,000</td>
                </tr>
                <tr>
                    <td>מנהל/ת תחום מותגים</td>
                    <td>14,000-16,000</td>
                    <td>16,000-19,000</td>
                    <td>20,000-22,000</td>
                </tr>
                <tr>
                    <td>מנהל/ת מוצר בשיווק</td>
                    <td>12,000-15,000</td>
                    <td>15,000-18,000</td>
                    <td>20,000-25,000</td>
                </tr>
                <tr>
                    <td>מנהל/ת שיווק</td>
                    <td>15,000-20,000</td>
                    <td>20,000-25,000</td>
                    <td>20,000-25,000</td>
                </tr>
                <tr>
                    <td>סמנכ"ל/ית שיווק</td>
                    <td>20,000-25,000</td>
                    <td>25,000-35,000</td>
                    <td>35000-45000</td>
                </tr>
                <tr>
                    <td>מנהל מכירות בינלאומי</td>
                    <td>15,000-20,000</td>
                    <td>20,000-25,000</td>
                    <td>25,000-30,000</td>
                </tr>
                <tr>
                    <td>איש/אשת מכירות Low Tech</td>
                    <td>11,000-13,000</td>
                    <td>13,000-17,000</td>
                    <td>17000-20000</td>
                </tr>
                <tr>
                    <td>איש/אשת מכירות מוצרי צריכה</td>
                    <td>10,000-12,000</td>
                    <td>12,000-14,000</td>
                    <td>15,000-18,000</td>
                </tr>
                <tr>
                    <td>איש/אשת מכירות הייטק</td>
                    <td>10,000-12,000</td>
                    <td>12,000-16,000</td>
                    <td>15,000-20,000</td>
                </tr>
                <tr>
                    <td>Account Manager מגזר הייטק</td>
                    <td>12,000-14,000</td>
                    <td>12,000-16,000</td>
                    <td>15,000-20,000</td>
                </tr>
                <tr>
                    <td>מנהל/ת איזור מכירות תעשייה</td>
                    <td>12000-14000</td>
                    <td>14000-16000</td>
                    <td>16000-20000</td>
                </tr>
                <tr>
                    <td>מנהל/ת מכירות מוצרי צריכה</td>
                    <td>10,000-12,000</td>
                    <td>12,000-15,000</td>
                    <td>15,000-18,000</td>
                </tr>
                <tr>
                    <td>מנהל/ת מכירות מוצרי הייטק</td>
                    <td>12,000-15,000</td>
                    <td>15,000-20,000</td>
                    <td>15,000-20,000</td>
                </tr>
                <tr>
                    <td>מנהל טרייד מרקטינג</td>
                    <td>12,000-14,000</td>
                    <td>14,000-17,000</td>
                    <td>18,000-22,000</td>
                </tr>
                <tr>
                    <td>Key Account Manager מוצרי צריכה</td>
                    <td>16,000-18,000</td>
                    <td>17,000-22,000</td>
                    <td>20,000-25,000</td>
                </tr>
                <tr>
                    <td>מנהל/ת מוקד</td>
                    <td>12000-14000</td>
                    <td>14000-18000</td>
                    <td>18000-22000</td>
                </tr>
                <tr>
                    <td>מנהל שירות</td>
                    <td>12000-14000</td>
                    <td>14000-18000</td>
                    <td>18000-22000</td>
                </tr>
                <tr>
                    <td>סמנכל שירות</td>
                    <td>20,000-25,000</td>
                    <td>25000-30000</td>
                    <td>25,000-35,000</td>
                </tr>
                <tr>
                    <td>אנליסט שיווקי</td>
                    <td>10000-13000</td>
                    <td>13000-15000</td>
                    <td>15000-20000</td>
                </tr>
                <tr>
                    <td>מנהל/ת מרקום</td>
                    <td>11,000-14,000</td>
                    <td>14,000-20,000</td>
                    <td>18,000-22,000</td>
                </tr>
                <tr>
                    <td>טרייד מרקטינג</td>
                    <td>11000-14000</td>
                    <td>14000-18000</td>
                    <td>18000-23000</td>
                </tr>
                
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>טכני</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>חשמלאי</td>
                    <td>9500-11,000</td>
                    <td>11,000-12000</td>
                    <td>12000-13000</td>
                </tr>
                <tr>
                    <td>הנדסאי מכונות</td>
                    <td>10000-11000</td>
                    <td>11000-12000</td>
                    <td>12-13000</td>
                </tr>
                <tr>
                    <td>הנדסאי אלקטרוניקה</td>
                    <td>9000-12000</td>
                    <td>12000-13000</td>
                    <td>13000-14000</td>
                </tr>
                <tr>
                    <td>מחסנאי</td>
                    <td>7000-8000</td>
                    <td>7500-9000</td>
                    <td>8500-9500</td>
                </tr>
                <tr>
                    <td>מלחימים</td>
                    <td>8000-9000</td>
                    <td>9000-10000</td>
                    <td>9000-10000</td>
                </tr>
                <tr>
                    <td>מרכיב/אורז</td>
                    <td>8000-9000</td>
                    <td>9000-10000</td>
                    <td>9000-10000</td>
                </tr>
                <tr>
                    <td>הנדסאי אלקטרוניקה</td>
                    <td>9000-10000</td>
                    <td>9000-10000</td>
                    <td>10000-12000</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>ביוטק</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>אנליטיקאיים/ מיקרוביולוגים</td>
                    <td>7,000-10,000</td>
                    <td>10,000-14,000</td>
                    <td>14,000-20,000</td>
                </tr>
                <tr>
                    <td>תועמלן/ית רפואי</td>
                    <td>8,000-9,500</td>
                    <td>12,000-13,500</td>
                    <td>15,000-17,000</td>
                </tr>
                <tr>
                    <td>רגולציה</td>
                    <td>9,000-12,000</td>
                    <td>12,000-16,000</td>
                    <td>16,000-24,000</td>
                </tr>
                <tr>
                    <td>חוקר/ת מו"פ</td>
                    <td>10,000-11,000</td>
                    <td>12,000-18,000</td>
                    <td>18,000-24,000</td>
                </tr>
                <tr>
                    <td>ולידציה</td>
                    <td>6,000-9,000</td>
                    <td>10,000-17,000</td>
                    <td>18,000-20,000</td>
                </tr>
                <tr>
                    <td>אבטחת איכות QA</td>
                    <td>9,000-10,000</td>
                    <td>10,000-14,000</td>
                    <td>14,000-22,000</td>
                </tr>
                <tr>
                    <td>טכנולוג מזון</td>
                    <td>8,000-10,000</td>
                    <td>10,000-15,000</td>
                    <td>16,000-18,000</td>
                </tr>
                <tr>
                    <td>הנדסת תהליך</td>
                    <td>8,000-14,000</td>
                    <td>15,000-18,000</td>
                    <td>19,000-25,000</td>
                </tr>
                <tr>
                    <td>CRA</td>
                    <td>12,000-14,000</td>
                    <td>14,000-18,000</td>
                    <td>18,000-22,000</td>
                </tr>
                <tr>
                    <td>SCRA</td>
                    <td>22,000-26,000</td>
                    <td>22,000-28,000</td>
                    <td>32,000-35,000</td>
                </tr>
                <tr>
                    <td>global CTM</td>
                    <td>30,000-35,000</td>
                    <td>35,000-38,000</td>
                    <td>38,000-40,000</td>
                </tr>
                <tr>
                    <td>מנהלת/ מעבדה</td>
                    <td>14,000-16,000</td>
                    <td>17,000-20,000</td>
                    <td>21,000-24,000</td>
                </tr>
                <tr>
                    <td>אנשי מכירות</td>
                    <td>8,000-10,000</td>
                    <td>12,000-16,000</td>
                    <td>16,000-19,000</td>
                </tr>
                <tr>
                    <td>מנהל/ת מוצר</td>
                    <td>18,000-20,000</td>
                    <td>20,000-22,000</td>
                    <td>23,000-25,000</td>
                </tr>
                <tr>
                    <td>ר"צ תעמולה</td>
                    <td>12,000-14,000</td>
                    <td>14,000-20,000</td>
                    <td>20,000-25,000</td>
                </tr>
                <tr>
                    <td>QC</td>
                    <td>8,000-10,000</td>
                    <td>15,000-20,000</td>
                    <td>20,000-22,000</td>
                </tr>
                <tr>
                    <td>רוקח</td>
                    <td>10,000-13,000</td>
                    <td>13,000-18,000</td>
                    <td>18,000-24,000</td>
                </tr>
                <tr>
                    <td>אגרונומיה</td>
                    <td>10,000-12,000</td>
                    <td>13,000-14,000</td>
                    <td>18,000-20,000</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>בנקאות</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>Back Office</td>
                    <td>6,000-8,000</td>
                    <td>8,000-10,000</td>
                    <td>8,000-10,000</td>
                </tr>
                <tr>
                    <td>Middle Office</td>
                    <td>7,000-8,000</td>
                    <td>8,000-12,000</td>
                    <td>8,000-12,000</td>
                </tr>
                <tr>
                    <td>כלכלן</td>
                    <td>8,000-10,000</td>
                    <td>10,000-12,000</td>
                    <td>15,000-20,000</td>
                </tr>
                <tr>
                    <td>דילר</td>
                    <td>6,000-8,000</td>
                    <td>8,000-12,000</td>
                    <td>12,000-14,000</td>
                </tr>
                <tr>
                    <td>פקידת קבלה</td>
                    <td>6,000-8,000</td>
                    <td>8,000-9,000</td>
                    <td>9,000-12,000</td>
                </tr>
                <tr>
                    <td>מזכירה</td>
                    <td>7,000-9,000</td>
                    <td>9,000-10,000</td>
                    <td>10,000-12,000</td>
                </tr>
                <tr>
                    <td>מזכירה בכירה</td>
                    <td>9000-10,000</td>
                    <td>10,000-12,000</td>
                    <td>12,000-15,000</td>
                </tr>
                <tr>
                    <td>עו"ד תחום מסחרי</td>
                    <td>8,000-10,000</td>
                    <td>8,000-14,000</td>
                    <td>14,000-20,000</td>
                </tr>
                <tr>
                    <td>מנהל השקעות</td>
                    <td>7,000-9,000</td>
                    <td>9,000-14,000</td>
                    <td>12,000-16,000</td>
                </tr>
                <tr>
                    <td>משווק השקעות</td>
                    <td>6,000-8,000</td>
                    <td>8,000-10,000</td>
                    <td>8,000-12,000</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td>שירות לקוחות</td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>שירות לקוחות ביטוח</td>
                    <td>7,000- 7,500</td>
                    <td>8,500 – 8,000</td>
                    <td>8,500 – 8,000</td>
                </tr>
                <tr>
                    <td>מכירות ביטוח</td>
                    <td>11,000-13,000</td>
                    <td>13,000-17,000</td>
                    <td>13,000-17,000</td>
                </tr>
                <tr>
                    <td>בנקאות טלפונית</td>
                    <td>6,500- 6,000</td>
                    <td>7,000-7,500</td>
                    <td>7,000-7,500</td>
                </tr>
                <tr>
                    <td>שירות לקוחות שוק ההון</td>
                    <td>7,000- 7,500</td>
                    <td>8,500 – 8,000</td>
                    <td>8,500 – 8,000</td>
                </tr>
                <tr>
                    <td>טלמיטינג שוק ההון</td>
                    <td>8,000-8,500</td>
                    <td>10,000-10,500</td>
                    <td>10,000-10,500</td>
                </tr>
                <tr>
                    <td>שירות לקוחות כללי</td>
                    <td>6,000-7,000</td>
                    <td>6,000-7,000</td>
                    <td>6,000-7,000</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>משרות כלליות</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>פקידת קבלה</td>
                    <td>5,000-7,500</td>
                    <td>5,000-7,500</td>
                    <td>5,000-7,500</td>
                </tr>
                <tr>
                    <td>מזכירה</td>
                    <td>6,000-8,500</td>
                    <td>6,000-8,500</td>
                    <td>6,000-8,500</td>
                </tr>
                <tr>
                    <td>מנהלת משרד</td>
                    <td>7,500-9,500</td>
                    <td>9,500-10,500</td>
                    <td>12,000-13,000</td>
                </tr>
                <tr>
                    <td>עוזרת אישית</td>
                    <td>10,000-15,000</td>
                    <td>12,000 – 15,000</td>
                    <td>15,000-16,000</td>
                </tr>
                <tr>
                    <td>מזכירת שותפים</td>
                    <td>7,500-9,500</td>
                    <td>9,500-10,500</td>
                    <td>12,000-13,000</td>
                </tr>
                <tr>
                    <td>מזכירה בכירה</td>
                    <td>7,500-9,500</td>
                    <td>9,500-10,500</td>
                    <td>12,000-13,000</td>
                </tr>
                <tr>
                    <td>מזכירת אחה"צ</td>
                    <td>8,000-9,000</td>
                    <td>8,000-9,000</td>
                    <td>8,000-9,000</td>
                </tr>
                <tr>
                    <td>מזכירת אחר הצהריים -חצי משרה</td>
                    <td>4,000-6,000</td>
                    <td>4,000-6,000</td>
                    <td>4,000-6,000</td>
                </tr>
                <tr>
                    <td>אדמיניסטרטורית</td>
                    <td>7,500-9,500</td>
                    <td>7,500-9,500</td>
                    <td>7,500-9,500</td>
                </tr>
                <tr>
                    <td>קלדנית</td>
                    <td>5,000-5,500</td>
                    <td>5,000-5,500</td>
                    <td>5,000-5,500</td>
                </tr>
                <tr>
                    <td>בק אופיס</td>
                    <td>5,000-7,000</td>
                    <td>5,000-7,000</td>
                    <td>5,000-7,000</td>
                </tr>
                <tr>
                    <td>שירות לקוחות</td>
                    <td>7,000- 7,500</td>
                    <td>8,500 – 8,000</td>
                    <td>8,500 – 8,000</td>
                </tr>
                <tr>
                    <td>מחסנאי</td>
                    <td>6,500-7,000</td>
                    <td>7,000-7,500</td>
                    <td>7,500-8,000</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>משפטי</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>עו"ד מסחרי במשרד מוביל</td>
                    <td>12000-13000</td>
                    <td>14000-17000</td>
                    <td>20000 ומעלה, כבר נכנסים למסלול שותפות</td>
                </tr>
                <tr>
                    <td>עו"ד מזכיר חברה /מזכירות בנק</td>
                    <td>10000-13000</td>
                    <td>14000-15000</td>
                    <td>20000-22000</td>
                </tr>
                <tr>
                    <td>עו"ד מסחרי בחברה</td>
                    <td>10000-13000</td>
                    <td>13000-16000</td>
                    <td>20000-25000</td>
                </tr>
                <tr>
                    <td>עו"ד במשרד עו"ד קטן- בינוני</td>
                    <td>7500-10000</td>
                    <td>12000-15000</td>
                    <td>מעל 16000</td>
                </tr>
                
                
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>הנדסה ואדריכלות</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>מהנדס אזרחי בביצוע</td>
                    <td>12,000-17000</td>
                    <td>35,000-45,000</td>
                    <td>45,000-55,000</td>
                </tr>
                <tr>
                    <td>מנהל עבודה בבניין</td>
                    <td>8,000-12,000</td>
                    <td>15,000-17,000</td>
                    <td>17,000-27,000</td>
                </tr>
                <tr>
                    <td>מהנדס ביצוע</td>
                    <td>10,000-13,000</td>
                    <td>15,000-22,000</td>
                    <td>23,000-30,000</td>
                </tr>
                <tr>
                    <td>מנהל פרויקטים</td>
                    <td>18,000-25,000</td>
                    <td>28,000-37,000</td>
                    <td>30,000-40,000</td>
                </tr>
                <tr>
                    <td>מנהל אזור</td>
                    <td>27,000-35,000</td>
                    <td>28,000-40,000</td>
                    <td>35,000-50,000</td>
                </tr>
                <tr>
                    <td>מנהל הנדסה/מהנדס חברה/סמנכ"ל הנדסה</td>
                    <td>35,000-37,000</td>
                    <td>40,000-50,000</td>
                    <td>50,000-75,000</td>
                </tr>
                
                <tr>
                    <td>מהנדס מכונות</td>
                    <td>18,000-25,000</td>
                    <td>25,000-30,000</td>
                    <td>30,000-40,000</td>
                </tr>
                <tr>
                    <td>מהנדס מפעל</td>
                    <td>18,000-25,000</td>
                    <td>25,000-30,000</td>
                    <td>27,000-40,000</td>
                </tr>
                <tr>
                    <td>מהנדס ייצור</td>
                    <td>11,000-17,000</td>
                    <td>15,000-19,000</td>
                    <td>20,000-30,000</td>
                </tr>
                <tr>
                    <td>NPI</td>
                    <td>13,000-16,000</td>
                    <td>15,000-19,000</td>
                    <td>20,000-30,000</td>
                </tr>
                <tr>
                    <td>מהנדס אחזקה</td>
                    <td>8,000-12,000</td>
                    <td>14,000-16,000</td>
                    <td>16,000-19,000</td>
                </tr>
                
                <tr>
                    <td>מהנדס חשמל</td>
                    <td>10,000-12,000</td>
                    <td>12,000-15,000</td>
                    <td>15,000-20,000</td>
                </tr>
                <tr>
                    <td>מהנדס חשמל תשתיות מבנה</td>
                    <td>8,500-14,000</td>
                    <td>9,000-15,000</td>
                    <td>15,000-17,000</td>
                </tr>
                <tr>
                    <td>מהנדס חשמל תשתיות (חשמל רחוב/תעשיה)</td>
                    <td>9,000-15,000</td>
                    <td>10,000-16,000</td>
                    <td>16,000-25,000</td>
                </tr>
                <tr>
                    <td>מהנדס חשמל בייצור</td>
                    <td>8,500-12,000</td>
                    <td>11,000-18,000</td>
                    <td>18,000-26,000</td>
                </tr>
                
                
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>תפעול ושרשרת אספקה</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>פלנר</td>
                    <td>11,000-13,000</td>
                    <td>14,000-16,000</td>
                    <td>17,000-22,000</td>
                </tr>
                <tr>
                    <td>תפ"י</td>
                    <td>10,000-13,000</td>
                    <td>14,000-15,000</td>
                    <td>16,000-18,000</td>
                </tr>
                <tr>
                    <td>או"ש</td>
                    <td>12,000-14,000</td>
                    <td>15,000-18,000</td>
                    <td>18,000-23,000</td>
                </tr>
                <tr>
                    <td>מצויינות תפעולית OPEX</td>
                    <td>14,000-15,000</td>
                    <td>16,000-18,000</td>
                    <td>19,000-25,000</td>
                </tr>
                <tr>
                    <td>ניהול פרוייקטים</td>
                    <td>14,000-15,000</td>
                    <td>16,000-18,000</td>
                    <td>16,000-22,000</td>
                </tr>
                <tr>
                    <td>מנהל מערך שירות טכני</td>
                    <td>17,000-18,000</td>
                    <td>18,000-23,000</td>
                    <td>25,000-27,000</td>
                </tr>
                <tr>
                    <td>קניין</td>
                    <td>11,000-12,000</td>
                    <td>13,000-15,000</td>
                    <td>16,000-18,000</td>
                </tr>
                <tr>
                    <td>קניין בכיר</td>
                    <td>15,000-17,000</td>
                    <td>18,000-20,000</td>
                    <td>21,000-25,000</td>
                </tr>
                <tr>
                    <td>קצין בטיחות בתעבורה</td>
                    <td>12,000-13,000</td>
                    <td>13,000-15,000</td>
                    <td>15,000-19,000</td>
                </tr>
                <tr>
                    <td>מנהל מפעל</td>
                    <td>18,000-20,000</td>
                    <td>20,000-30,000</td>
                    <td>20,000-35,000</td>
                </tr>
                <tr>
                    <td>מנהל נכסים</td>
                    <td>17,000-20,000</td>
                    <td>21,000-24,000</td>
                    <td>25,000-35,000</td>
                </tr>
                <tr>
                    <td>מנהל / סמנכל שרשרת אספקה</td>
                    <td>18,000-25,000</td>
                    <td>22,000-30,000</td>
                    <td>35,000-40,000</td>
                </tr>
                <tr>
                    <td>מנהל תפעול</td>
                    <td>13,000-15,000</td>
                    <td>16,000-18,000</td>
                    <td>19,000-24,000</td>
                </tr>
                <tr>
                    <td>מנהל / סמנכל תפעול</td>
                    <td>17,000-25,000</td>
                    <td>25,000-30,000</td>
                    <td>30,000-40,000</td>
                </tr>
                <tr>
                    <td>מנהל אחזקה בייצור</td>
                    <td>9,000-12,000</td>
                    <td>13,000-16,000</td>
                    <td>16,000-22,000</td>
                </tr>
                <tr>
                    <td>מנהל אחזקת מבנים</td>
                    <td>12,000-13,000</td>
                    <td>14,000-18,000</td>
                    <td>18,000-23,000</td>
                </tr>
                <tr>
                    <td>מנהל / סמנכל רכש</td>
                    <td>20,000-25,000</td>
                    <td>26,000-28,000</td>
                    <td>30,000-35,000</td>
                </tr>
                <tr>
                    <td>מנהל הפצה</td>
                    <td>12,000-14,000</td>
                    <td>15,000-17,000</td>
                    <td>18,000-22,000</td>
                </tr>
                <tr>
                    <td>מנהל מרלו"ג</td>
                    <td>14,000-15,000</td>
                    <td>16,000-19,000</td>
                    <td>20,000-27,000</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>ביטוח</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>כלכלנ/ית</td>
                    <td>8000-10000</td>
                    <td>10,000-12,000</td>
                    <td>15,000-20,000</td>
                </tr>
                <tr>
                    <td>אנליסט/ית</td>
                    <td>8000-1000</td>
                    <td>10,000-12,001</td>
                    <td>15,000-20,001</td>
                </tr>
                <tr>
                    <td>מנהל/ת חשבונות בצוות</td>
                    <td>8000-9000</td>
                    <td>9000-12000</td>
                    <td>12000-15000</td>
                </tr>
                <tr>
                    <td>מנהל/ת חשבונות ראשית</td>
                    <td>12000-15000</td>
                    <td>15000-17000</td>
                    <td>17000-20000</td>
                </tr>
                <tr>
                    <td>חתם/ת עסקים</td>
                    <td>9,000-10,000</td>
                    <td>10,000-12,000</td>
                    <td>12,000-14,000</td>
                </tr>
                <tr>
                    <td>עו"ד נזיקין/ חיים</td>
                    <td>7,500-8,000</td>
                    <td>8,000-9,000</td>
                    <td>9,000-10,000</td>
                </tr>
                <tr>
                    <td>משווק פנסיוני</td>
                    <td>10,000-12,000</td>
                    <td>15,000-20,000</td>
                    <td>20,000-25,000</td>
                </tr>
                <tr>
                    <td>סוכן/ת ביטוח</td>
                    <td>7000-9000</td>
                    <td>9000-10000</td>
                    <td>10000-12000</td>
                </tr>
                <tr>
                    <td>יועץ פנסיוני</td>
                    <td>9000-10000</td>
                    <td>10000-12000</td>
                    <td>12000-14000</td>
                </tr>
                <tr>
                    <td>משרות בק אופיס</td>
                    <td>5,500-6,000</td>
                    <td>6,000-7,500</td>
                    <td>7,500-8,000</td>
                </tr>
                <tr>
                    <td>ניהול סיכונים</td>
                    <td>12000-14000</td>
                    <td>14000-16000</td>
                    <td>16000-18000</td>
                </tr>
                
                
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>משאבי אנוש</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>מראיינת טלפונית/רפרנטית גיוס</td>
                    <td>6000-8000</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>רכז/ת גיוס</td>
                    <td>7000-10000</td>
                    <td>10000-12000</td>
                    <td>12000-15000</td>
                </tr>
                <tr>
                    <td>רכז/ת גיוס טכנולוגי</td>
                    <td>9000-12000</td>
                    <td>12000-15000</td>
                    <td>15000-17000</td>
                </tr>
                <tr>
                    <td>סורסינג</td>
                    <td>10000-12000</td>
                    <td>12000-15000</td>
                    <td>15000-18000</td>
                </tr>
                <tr>
                    <td>מנהל/ת גיוס</td>
                    <td>12000-15000</td>
                    <td>15000-18000</td>
                    <td>18000-20000</td>
                </tr>
                <tr>
                    <td>מנהל/ת פיתוח ארגוני / מנהלים</td>
                    <td>15000-18000</td>
                    <td>18000-22000</td>
                    <td>22000-25000</td>
                </tr>
                <tr>
                    <td>רכז/ת הדרכה</td>
                    <td>7000-8000</td>
                    <td>8000-10000</td>
                    <td>10000-12000</td>
                </tr>
                <tr>
                    <td>מנהל/ת הדרכה</td>
                    <td>9000-10000</td>
                    <td>10000-12000</td>
                    <td>12000-15000</td>
                </tr>
                <tr>
                    <td>שכר והטבות</td>
                    <td>10000-12000</td>
                    <td>12000-17000</td>
                    <td>17000-25000</td>
                </tr>
                <tr>
                    <td>מנהל/ת רווחה</td>
                    <td>8000-11000</td>
                    <td>11000-14000</td>
                    <td>14000-18000</td>
                </tr>
                <tr>
                    <td>רכז/ת משא"ב</td>
                    <td>7000-9000</td>
                    <td>9000-12000</td>
                    <td>12000-14000</td>
                </tr>
                <tr>
                    <td>מנהל/ת משא"ב/ HRBP</td>
                    <td>14000-18000</td>
                    <td>18000-22000</td>
                    <td>22000-25000</td>
                </tr>
                <tr>
                    <td>סמנכ"ל/ית משא"ב</td>
                    <td>20000-25000</td>
                    <td>25000-30000</td>
                    <td>35000-40000</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>חשמל ואלקטרוניקה</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>עוזר חשמלאי</td>
                    <td>6,500-7,000</td>
                    <td>7,000-7,500</td>
                    <td>7,000-7,500</td>
                </tr>
                <tr>
                    <td>חשמלאי מעשי</td>
                    <td>7,000-8,000</td>
                    <td>8,000-9,000</td>
                    <td>8,500-9,500</td>
                </tr>
                <tr>
                    <td>חשמלאי מוסמך</td>
                    <td>8,000-9,500</td>
                    <td>9,000-10,000</td>
                    <td>9,000-12,000</td>
                </tr>
                <tr>
                    <td>חשמלאי ראשי</td>
                    <td>9,000-10,000</td>
                    <td>10,000-11,000</td>
                    <td>11,000-13,000</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>לוגיסטיקה</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>ראש צוות מחסן</td>
                    <td>8000-9000</td>
                    <td>9000-10000</td>
                    <td>10000-12000</td>
                </tr>
                <tr>
                    <td>מנהל/ת צוות מחסן</td>
                    <td>7500-9000</td>
                    <td>9000-10000</td>
                    <td>10,000</td>
                </tr>
                <tr>
                    <td>מנהלת/ת צוות הפצה</td>
                    <td>8000-10000</td>
                    <td>10000-12000</td>
                    <td>120,000</td>
                </tr>
                <tr>
                    <td>מחסנאי ממוחשב</td>
                    <td>7500-8000</td>
                    <td>8000-8500</td>
                    <td>8000-10000</td>
                </tr>
                <tr>
                    <td>מלקט</td>
                    <td>6000-7000</td>
                    <td>7000-7500</td>
                    <td>7000-7500</td>
                </tr>
                <tr>
                    <td>מלגזן</td>
                    <td>6500-7500</td>
                    <td>7500-8500</td>
                    <td>9000</td>
                </tr>
                <tr>
                    <td>מלגזן היגש</td>
                    <td>8000</td>
                    <td>8000-9000</td>
                    <td>9000-9500</td>
                </tr>
                <tr>
                    <td>מלגזן צריח</td>
                    <td>8000</td>
                    <td>8000-9000</td>
                    <td>9000-9500</td>
                </tr>
                <tr>
                    <td>בלדר</td>
                    <td>6500-7500</td>
                    <td>7500-8500</td>
                    <td>7500-8500</td>
                </tr>
                <tr>
                    <td>נהג עד 15 טון</td>
                    <td>7000-9000</td>
                    <td>9000-10000</td>
                    <td>9000-10000</td>
                </tr>
                <tr>
                    <td>נהג מעל 15 טון</td>
                    <td>9000-11000</td>
                    <td>11000-12000</td>
                    <td>11000-12000</td>
                </tr>
                <tr>
                    <td>בקר</td>
                    <td>7000-7500</td>
                    <td>7500-8000</td>
                    <td>8000</td>
                </tr>
                
                
            </tbody>
        </table>

        <table>
            <tbody>
                <tr>
                    <td><h3>אדמיניסטרציה ומשרד</h3></td>
                </tr>
                <tr>
                    <td>תפקיד</td>
                    <td>1-3 שנים</td>
                    <td>3-5 שנים</td>
                    <td>מעל 5 שנים</td>
                </tr>
                <tr>
                    <td>פקידת קבלה</td>
                    <td>6,500-7,500</td>
                    <td>7,500-10,000</td>
                    <td>10,000-12,000</td>
                </tr>
                <tr>
                    <td>מזכירה</td>
                    <td>6,500-8,500</td>
                    <td>8,500-9,000</td>
                    <td>9,000-10,000</td>
                </tr>
                <tr>
                    <td>מנהלת משרד</td>
                    <td>8,000-9,500</td>
                    <td>9,500-12,000</td>
                    <td>12,000-13,000</td>
                </tr>
                <tr>
                    <td>עוזרת אישית</td>
                    <td>10,000-12,000</td>
                    <td>12,000 – 15,000</td>
                    <td>15,000-16,000</td>
                </tr>
                <tr>
                    <td>מזכירת שותפים</td>
                    <td>8,000-9,500</td>
                    <td>9,500-12,000</td>
                    <td>12,000-13,000</td>
                </tr>
                <tr>
                    <td>מזכירה בכירה</td>
                    <td>8,500-10,000</td>
                    <td>10,000-11,000</td>
                    <td>11,000-12,000</td>
                </tr>
                <tr>
                    <td>מזכירת אחר הצהריים</td>
                    <td>4,000-6,000</td>
                    <td>4,000-6,000</td>
                    <td>4,000-6,000</td>
                </tr>
                <tr>
                    <td>אדמיניסטרטורית</td>
                    <td>7,500-10,000</td>
                    <td>7,500-10,000</td>
                    <td>7,500-10,000</td>
                </tr>
                <tr>
                    <td>קלדנית</td>
                    <td>5,500-6,000</td>
                    <td>6,000-7,000</td>
                    <td>6,000-7,000</td>
                </tr>
                <tr>
                    <td>בק אופיס</td>
                    <td>6,000-7,500</td>
                    <td>7,500-9,000</td>
                    <td>9,000-10,000</td>
                </tr>
                
                
            </tbody>
        </table>
        
    </section>
</div>
  
<app-footer></app-footer>