:host {
    position: absolute;
    left: 30px;
}

mat-icon {
    color: white;
    vertical-align: middle;
    padding-right: 3px;
}

button {
    background: rgb(44 44 44 / 70%);
    border-bottom: 4px solid rgb(28 28 28 / 70%);
    padding: 10px 25px;
}

button ::ng-deep span {
    color: white;
}