.container {
    background: white;
    padding: 30px;
}

.search {
    background: white;
}

.save-icon-flex {
    display: flex;
    justify-content: space-between;
}

.save-icon {
    cursor: pointer;
}