<app-toolbar [title]="'צפייה ועדכון התנדבויות'"></app-toolbar>

<section class="background" [@fadeInOnEnter] [@fadeOutOnLeave]>
  <div class="background-container pie-{{random}}"></div>
</section>

<section class="datepicker-section">
  <mat-card-content>
    <div class="datepicker">
      <p class="dates-picked">מועדי התנדבות קיימים:</p>
      <ul class="dates-picked-list">
        <li *ngFor="let shift of myShifts">
          <mat-icon [class.green-icon]="shift?.approved==true"
          [class.yellow-icon]="shift?.approved==false || !shift.approved">fiber_manual_record</mat-icon>
          {{shift.date | dateFormat}}
          <mat-icon (click)="deleteDate(shift)">delete</mat-icon>
        </li>
      </ul>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div class="point-map">
      <p>
        <mat-icon class="yellow-icon">fiber_manual_record</mat-icon> תאריך שאינו סופי
      </p>
      <p>
        <mat-icon class="green-icon">fiber_manual_record</mat-icon> מועד התנדבות מאושר, מישהו מחכה לקבל ממך עוגה
      </p>
    </div>
    <div>
      <p>שים <mat-icon>favorite_border</mat-icon> הינך יכול לבטל מועד התנדבות על ידי לחיצה על התאריך המבוקש</p>
      <p class="warning">אנא השתדל\י לא לבטל בסמוך למועד שאליו שובצת</p>
    </div>
  </mat-card-actions>
</section>

<mat-card *ngIf="isLoading" class="mat-progress-spinner">
  <mat-progress-spinner color="primary" mode="indeterminate" diameter="70"></mat-progress-spinner>
</mat-card>
