<footer>
    <p class="contact-us-title">פרטי התקשרות:</p>
    <div class="contact-details-container">
      <p class="contact-details">
        אביגיל רחל קדוש, מנכ״ל
        <br>
        מייל: <a href="mailto:avigailk@oriya-hrs.com" target="_blank">avigailk@oriya-hrs.com</a>
        <br>
        נייד: 0548062281
      </p>
    
      <p class="contact-details">
        אדיר ישראל קדוש, סמנכ״ל
        <br>
        מייל: <a href="mailto:adirik@oriya-hrs.com" target="_blank">adirik@oriya-hrs.com</a>
        <br>
        נייד: 0546947704
      </p>
    
      <div class="contact-details bold">
        <h2 class="title-no-margin">אוריה השמה וגיוס עובדים</h2>
        ז׳בוטינסקי 100 פתח תקווה
      </div>
  
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d845.0334889648165!2d34.85720857075636!3d32.09266509882402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d49fbfd0a0469%3A0x5a3d441cdecb4624!2z15Yn15HXldeY15nXoNeh16fXmS_XlNeh15nXkdeZ150!5e0!3m2!1siw!2sil!4v1623176629293!5m2!1siw!2sil" 
        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
    </div>
  
    <p class="copyrights">Powered by <a href="https://www.linkedin.com/in/omer-tashir/" target="_blank">Omer Tashir</a></p>
  </footer>