<mat-toolbar>
    <div class="navbar">
      <div class="login">
        <ng-container *ngIf="!!loggedIn">
          <span *ngIf="!!image" class="image">
            <img [ngClass]="{'hidden': !photoLoaded}" [attr.src]="image" width="45" height="45"
              (load)="photoLoaded = true">
          </span>
          <span *ngIf="!!displayName" class="display-name">{{ displayName }}</span> |
          <span class="logout" (click)="logout()">התנתק</span>
        </ng-container>

        <ng-container *ngIf="!loggedIn">
          <a class="nav-link" [routerLink]="'/login'">כניסה למשתמש קיים</a>
          <mat-icon>account_box</mat-icon>
        </ng-container>
      </div>

      <div class="navbar-links">
        <ul>
          <li>
            <a [routerLink]="'/home'">ראשי</a>
          </li>
          <li *ngIf="isAdmin">
            <a [routerLink]="'/companies'">חברות</a>
          </li>
          <li *ngIf="isCompany">
            <a [routerLink]="'/company-new-job-offer'">פרסום משרה</a>
          </li>
          <li *ngIf="!isCompany">
            <a [routerLink]="'/candidates'">מועמדים</a>
          </li>
          <li>
            <a [routerLink]="'/salary-survey'">טבלאות שכר</a>
          </li>
          <li>
            <a [routerLink]="'/articles'">מאמרים</a>
          </li>
        </ul>
      </div>

      <div class="social-icons">
        <img src="assets/instagram.svg" alt="Instagram" height="35" />
        <img src="assets/facebook.svg" alt="Facebook" height="35" />
      </div>
    </div>

</mat-toolbar>
