<app-toolbar></app-toolbar>

<div class="main-section">  
    <section class="background">
      <div class="background-container">
        <div class="background-{{randomImage}}"></div>
        <img src="assets/logo.png" />
        <p>מועמדים</p>
      </div>
    </section>

    <section *ngIf="!isAdmin" class="form" [@fadeInOnEnter]>
      <h3>ההתקדמות שלכם בתעשייה מתחילה כאן! <br> שלחו לנו קורות חיים ונציג מטעמנו יצור אתכם קשר בהמשך</h3>

      <div class="inputs-container">
        <form [formGroup]="form" autocomplete="new-phone" novalidate
        fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div class="form-inputs-wrapper">
          <mat-form-field>
            <input autocomplete="new-phone" matInput type="text" placeholder="שם פרטי" formControlName="firstName" id="firstName" required>
            <mat-error *ngIf="hasError('firstName', 'required')">חובה להזין שם פרטי</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input autocomplete="new-phone" matInput type="text" placeholder="שם משפחה" formControlName="lastName" id="lastName" required>
            <mat-error *ngIf="hasError('lastName', 'required')">חובה להזין שם משפחה</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input autocomplete="new-phone"matInput type="email" placeholder="אימייל" formControlName="email" id="email" required>
            <mat-error *ngIf="hasError('email', 'required')">חובה להזין אימייל</mat-error>
            <mat-error *ngIf="hasError('email', 'email')">כתובת לא תקינה</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input autocomplete="new-phone" matInput type="tel" placeholder="מספר טלפון" formControlName="phone" id="phone" required>
            <mat-error *ngIf="hasError('phone', 'required')">חובה להזין מספר טלפון</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input autocomplete="new-phone" matInput type="text" placeholder="עיר" formControlName="city" id="city" required [matAutocomplete]="autoCities"
            (blur)="checkCity()" autocomplete="new-phone">
            <mat-autocomplete autoActiveFirstOption #autoCities="matAutocomplete" (optionSelected)="cityClick($event)">
              <mat-option *ngFor="let city of filteredCities | async" [value]="city.name">
                {{ city.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="hasError('city', 'required')">חובה להזין עיר</mat-error>
          </mat-form-field>
      
          <div class="inner-grid">
            <mat-form-field>
              <input autocomplete="new-phone" matInput type="text" placeholder="רחוב" formControlName="address" id="address" required [matAutocomplete]="autoAddresses" (blur)="checkStreet()" autocomplete="new-phone">
              <mat-autocomplete autoActiveFirstOption #autoAddresses="matAutocomplete"
                (optionSelected)="streetClick($event)">
                <mat-option *ngFor="let street of filteredStreets | async" [value]="street['שם_רחוב']">
                  {{ street['שם_רחוב'] }}
                </mat-option>
              </mat-autocomplete>
              <mat-error *ngIf="hasError('address', 'required')">חובה להזין רחוב</mat-error>
            </mat-form-field>
      
            <mat-form-field>
              <input autocomplete="new-phone" matInput type="number" placeholder="מס' בית" formControlName="addressNumber" id="addressNumber" required>
              <mat-error *ngIf="hasError('addressNumber', 'required')">חובה להזין מס' בית</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="cv">
          <app-upload-form [path]="'candidates'" [title]="'טען קובץ קורות חיים'" (uploadFileEmitter)="uploadCvCompleted($event)"></app-upload-form>
        </div>

          <div class="approve">
            <mat-checkbox formControlName="approve" id="approve"></mat-checkbox>
            <mat-label>אני מאשר/ת ליועצת ההשמה לשלוח את קורות החיים שלי לחברות ולמשרות ההולמות את כישוריי על פי שיקול דעתו.</mat-label>
          </div>
        </form>
      </div>

      <button (click)="submit(form?.value)" class="submit-btn" mat-raised-button color="primary" [disabled]="!form?.valid || !cvLoaded">שלח קורות חיים</button>
    </section>

    <section *ngIf="isAdmin" class="form mat-elevation-z8" [@fadeInOnEnter]>
      <mat-form-field class="search">
        <mat-label>חיפוש</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
      </mat-form-field>
    
      <div class="loading-shade"
           *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
        <div class="rate-limit-reached" *ngIf="isRateLimitReached">
          לא נמצאו מועמדים
        </div>
      </div>
    
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="table"
               matSort (matSortChange)="sortData($event)" matSortActive="email" 
               matSortDisableClear matSortDirection="asc">
    
          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="firstName">שם פרטי</th>
            <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
          </ng-container>
    
          <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="lastName">שם משפחה</th>
            <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
          </ng-container>
    
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="email">אימייל</th>
            <td mat-cell *matCellDef="let row">{{row.email}}</td>
          </ng-container>
    
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="phone">טלפון</th>
            <td mat-cell *matCellDef="let row">{{row.phone}}</td>
          </ng-container>
    
          <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="city">עיר</th>
            <td mat-cell *matCellDef="let row">{{row.city}}</td>
          </ng-container>
    
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="address">כתובת מגורים</th>
            <td mat-cell *matCellDef="let row">{{row.address}}, {{row.addressNumber}}</td>
          </ng-container>

          <ng-container matColumnDef="cvFileLink">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="cvFileLink">קורות חיים</th>
            <td mat-cell *matCellDef="let row">
              <span class="link" (click)="downloadCV(row.cvFileLink)">לחץ להורדה</span>
            </td>
          </ng-container>

          <ng-container matColumnDef="approve">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="approve">מאשר שליחת קורות חיים לחברות תואמות</th>
            <td mat-cell *matCellDef="let row">{{row.approve ? 'כן' : 'לא'}}</td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="resultsLength" showFirstLastButtons></mat-paginator>
    </section>
</div>
  
<app-footer></app-footer>