<app-toolbar></app-toolbar>

<div class="main-section">  
    <section class="background">
      <div class="background-container">
        <div class="background-{{randomImage}}"></div>
        <img src="assets/logo.png" />
        <p>פרסום משרה</p>
      </div>
    </section>

    <section class="form" [@fadeInOnEnter]>
      <div class="inputs-container">
        <form [formGroup]="form" autocomplete="new-phone" novalidate
        fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div class="form-inputs-wrapper">
            <div class="input-field">
                <p>בחרו תמונה לתיאור המשרה</p>
                <img *ngIf="!!form.controls['image'].value" [src]="form.controls['image'].value" width="100" height="100"> <br/>
                <input type="file" placeholder="בחר תמונה" id="image" (change)="onSelectImage($event)">
            </div>

        <div class="inner-grid">
            <mat-form-field class="input-field">
                <input autocomplete="new-phone" matInput type="text" placeholder="תפקיד" formControlName="role" id="role" required>
                <mat-error *ngIf="hasError('role', 'required')">חובה להזין תפקיד</mat-error>
                </mat-form-field>
    
                <mat-form-field class="input-field">
                <input autocomplete="new-phone" matInput type="text" placeholder="עיר" formControlName="city" id="city" required [matAutocomplete]="autoCities"
                (blur)="checkCity()" autocomplete="new-phone">
                <mat-autocomplete autoActiveFirstOption #autoCities="matAutocomplete" (optionSelected)="cityClick($event)">
                    <mat-option *ngFor="let city of filteredCities | async" [value]="city.name">
                    {{ city.name }}
                    </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="hasError('city', 'required')">חובה להזין עיר</mat-error>
            </mat-form-field>

            <mat-form-field class="input-field" *ngIf="(employmentTypes$ | async) as employmentTypes">
                <mat-label>היקף משרה</mat-label>
                <mat-select formControlName="employmentType" id="employmentType">
                  <mat-option *ngFor="let type of employmentTypes" [value]="type.id">
                    {{type.name}}
                  </mat-option>
                </mat-select>
                </mat-form-field>
        </div>

          <mat-form-field>
            <textarea autocomplete="new-phone" matInput type="text" rows="15" placeholder="תיאור המשרה" formControlName="description" id="description" required></textarea>
            <mat-error *ngIf="hasError('description', 'required')">חובה להזין תיאור</mat-error>
          </mat-form-field>
        </div>
        </form>
      </div>

      <button (click)="submit(form?.value)" class="submit-btn" mat-raised-button color="primary" [disabled]="!form?.valid">פרסם משרה</button>
    </section>
</div>
  
<app-footer></app-footer>