<app-toolbar [title]="title"></app-toolbar>

<section class="admin-panel">
  <div class="panel">
    <h3>שיבוצים</h3>
    <ul>
      <li [routerLink]="'/view-update-volunteers'">צפייה ועדכון התנדבויות</li>
    </ul>
  </div>

  <div class="panel">
    <h3>הפקת דו"חות</h3>
    <ul>
      <li>היסטוריית ביקורים</li>
      <li>נמענים ללא מענה</li>
    </ul>
  </div>

  <div class="panel">
    <h3>ניהול אנשי צוות</h3>
    <ul>
      <li>הוספת איש צוות חדש</li>
      <li>צפייה ועדכון פרטי איש צוות</li>
    </ul>
  </div>

  <div class="panel">
    <h3>ניהול מתנדבים</h3>
    <ul>
      <li>הוספת מתנדב חדש</li>
      <li>צפייה ועדכון פרטי מתנדב</li>
    </ul>
  </div>
</section>

<section class="background">
  <div class="background-container pie-{{random}}"></div>
</section>
