<app-toolbar></app-toolbar>

<div class="main-section">  
  <section class="background" [@fadeInOnEnter] [@fadeOutOnLeave]>
    <div class="background-container">
      <div class="background-{{randomImage1}}"></div>
      <img src="assets/logo.png" [@fadeInRightOnEnter] />
      <p [@fadeInRightOnEnter]>
        אוריה השמה וגיוס עובדים
        <span>שותפים להצלחה שלך!</span>
      </p>
      <app-company-join-us *ngIf="!isCompany && !isAdmin"></app-company-join-us>
    </div>

    <section class="video">
      <video autoplay loop onloadedmetadata="this.muted = true" oncanplay="this.play()">
        <source src="assets/video.mp4" type="video/mp4" />
    </video>
    </section>
  
    <div class="description-block">
      <div class="background-{{randomImage2}}"></div>
      <p class="description">
        חברת אוריה השמה היא חברת בוטיק איכותית ומשפחתית המורכבת מעובדים בעלי ידע וניסיון רב בתחום משאבי האנוש. החברה מלווה ומתאימה בהצלחה תהליכי גיוס והשמה שונים בחברות ישראליות ובחברות בינלאומיות תוך הקמת צוות גיוס מיוחד עבור תחומים שונים במשק: הייטק, ביוטק, קלינטק, תפקידי מטה, מגזר ציבורי ובכירים, ביטוח ופיננסים, בנקים ושוק ההון, קמעונאות, שילוח והפצה, בינוי ותשתיות, מלונאות, מפעלים, עובדים כללים ועוד.
    החברה מתאימה את הגיוס לפי צרכי הלקוחות ונתוני המשרה ע"י פתרונות גיוס מגוונים: מבחני מועמד, ראיונות, בדיקות דידקטיות שונות ועוד. במשך שנים החברה חרטה על דגלה להעניק ללקוחותיה ולמועמדים את השירות הטוב והיעיל ביותר כדי שיוכלו לצמוח עם האנשים הטובים ביותר.
    כי אנחנו באוריה השמה מאמינים שהאנשים הטובים ביותר הם העובדים הטובים ביותר.
    <br><br>
    אוריה השמה - שותפים להצלחה שלך.
      </p>
    </div>
  </section>

  <!-- <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file">
  <button type="button" class="btn btn-info" (click)="uploadCompaniesExcel()" >Upload</button> -->

  <ng-container *ngIf="(jobOffers$ | async) as jobOffers">
  <section *ngIf="jobOffers.length>0" class="job-offers-section" [@fadeInOnEnter] [@fadeOutOnLeave]>
      <p class="job-offers-title">משרות חדשות באתר:</p>
      <div class="job-offers" @listAnimation>
        <div class="job-offer" *ngFor="let offer of jobOffers" @item>
          <div class="job-offer-item">
            <img [ngClass]="{'hidden': !offer.photoLoaded}" [attr.src]="offer.image" width="300" height="200"
              (load)="offer.photoLoaded = true">
              <p class="role">{{offer.role}}</p>
              <div class="offer-grid">
                <p class="company">מעסיק: <img *ngIf="!!getCompanyImage(offer.companyName)" class="company-image" [src]="getCompanyImage(offer.companyName)">
                  <a [routerLink]="['/company-job-offers', offer.companyName]">{{offer.companyName}}</a>
                </p>
                <p class="city">עיר: {{offer.city}}</p>
              </div>

              <mat-chip class="employment-type">{{getEmploymentType(offer.employmentType)?.name}}</mat-chip>

              <div class="submit-buutons">
                <button class="submit" (click)="showMore(offer)">פרטים נוספים</button>
                <button class="submit" [routerLink]="['/candidates']">הגש מועמדות</button>
              </div>
          </div>
        </div>
      </div>
  </section>
</ng-container>

  <section class="categories-section" [@fadeInOnEnter] [@fadeOutOnLeave]>
    <ng-container *ngIf="(categories$ | async) as categories">
      <p class="categories-title">התחומים אליהם אנחנו מגייסים:</p>
      <div class="categories" @listAnimation>
        <div class="category" *ngFor="let category of categories" @item>
          <div class="category-item">
            <img [ngClass]="{'hidden': !category.photoLoaded}" [attr.src]="category.image" width="300" height="200"
              (load)="category.photoLoaded = true">
            <div>{{category.name}}</div>
          </div>
        </div>
      </div>
    </ng-container>
  </section>
</div>

<app-footer></app-footer>