.categories-title {
  font-size: 22px;
  margin: 30px;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.categories .category {
  margin: 15px;
}

.categories .category .category-item {
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.categories .category .category-item img {
  object-fit: cover;
  object-position: center;
}

.description-block {
  position: relative;
}

.description {
  background: #3f3f3f;
  font-size: 19px;
  line-height: 1.5;
  font-weight: bold;
  color: white;
  padding: 45px 30px;
}

.video {
  height: 30vh;
  padding: 5vh;
  background: black;
}

.video video {
  height: 100%;
  display: block;
  margin: auto;
}